body{
  background: #CECECE;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.layout{
  background: white;
  min-height: 100vh;
  text-align: center;
  padding: 2em;
}

.wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px;

}

.card, .form{
  width: 60%;
}
